* {
  box-sizing: border-box;
}

html {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-color: #ffffff;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.root {
  background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.scoreboard {
  border: 3px solid #5a6680;
  min-width: 700px;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  border-radius: 15px;
  margin: 20px 0;
}

.game-title {
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.game-title p {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin: -5px 0;
  text-shadow: 1px 1px 4px #000;
}

.score {
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 10px;
  border-radius: 10px;
}

.score-title {
  color: #364894;
  font-weight: 700;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Roboto", sans-serif;
}

.current-score {
  color: #56526b;
  font-size: 45px;
  font-weight: 700;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Roboto", sans-serif;
}

.picks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 600px;
}

.pick {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-shadow: 0px 0px 5px #000;
  letter-spacing: 3px;
}

.buttons {
  background-image: url("./images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  width: 600px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.options {
  border-radius: 50%;
  margin: 20px;
  transition: transform 0.3s ease-in-out;
}

.options:hover {
  transform: scale(1.05);
}

.paper {
  box-shadow: 0px 10px 0px #2846c2;
}

.scissors {
  box-shadow: 0px 10px 0px #c76c1b;
}

.rock {
  box-shadow: 0px 10px 0px #a11738;
}

.paper-btn {
  background: url("./images/icon-paper.svg");
  border: 20px solid #5671f6;
}

.scissors-btn {
  background: url("./images/icon-scissors.svg");
  border: 20px solid #eca823;
}

.rock-btn {
  background: url("./images/icon-rock.svg");
  border: 20px solid #df405c;
}

.ai {
  width: 200px;
  height: 200px;
  background: #192943;
}

.color-btn {
  width: 200px;
  height: 200px;
  background-color: #e0e0e0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80px;
  border-radius: 50%;
  box-shadow: inset 0px 15px 0px -5px #bcbed3;
  opacity: 1;
  visibility: visible;
  transition: visibility 1.5s ease-in-out;
  cursor: pointer;
}

.color-btn:active {
  transform: translateY(10px);
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result-text {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-size: 50px;
  font-weight: 600;
}

.play-again {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Roboto", sans-serif;
  width: 200px;
  display: flex;
  margin: 10px;
  height: 40px;
  align-items: center;
  color: #1f3354;
  font-weight: 700;
  justify-content: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.play-again:hover {
  color: #a11738;
  transform: translateY(1px);
}

.winner {
  box-shadow: 0 0 0 50px rgb(255 255 255 / 3%),
    0 0 0 100px rgb(230 230 230 / 3%), 0 0 0 150px rgb(255 255 255 / 4%);
}

.rules {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Roboto", sans-serif;
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid #ccc;
  background: transparent;
  padding: 5px;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
}

.rules:hover {
  background: #fff;
  color: #1f3354;
}

.show-modal {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}

.close-modal {
  color: #cdced3;
  font-size: 60px;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgb(0 0 0 / 30%);
  z-index: 10;
}

.modal img {
  padding: 40px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #393e59;
  font-size: 30px;
  font-weight: 700;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
